@model cobiwsite.Models.EntityEntrada

    <div>
        <h4>Registro RDK08301.CBL</h4>
        <hr />
        <dl class="dl-horizontal">
   
            <dt>
                @Html.DisplayNameFor(model => model.TRN)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TRN)
            </dd>
   
            <dt>
                @Html.DisplayNameFor(model => model.USUARIO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.USUARIO)
            </dd>
   
            <dt>
                @Html.DisplayNameFor(model => model.CLAVE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CLAVE)
            </dd>
   
            <dt>
                @Html.DisplayNameFor(model => model.MONITOR)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MONITOR)
            </dd>
   
            <dt>
                @Html.DisplayNameFor(model => model.TRANSACCION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TRANSACCION)
            </dd>
   
            <dt>
                @Html.DisplayNameFor(model => model.TIP_IDE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TIP_IDE)
            </dd>
   
            <dt>
                @Html.DisplayNameFor(model => model.NUM_IDE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NUM_IDE)
            </dd>
   
            <dt>
                @Html.DisplayNameFor(model => model.NUM_OFI)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NUM_OFI)
            </dd>
   
        </dl>
    </div>